

.HeaderLink {
  position: relative;

  .caret {
    position: absolute;
    left: -0.8em;
    top: 0;
  }

  a {
    margin-right: 3em;
    border-bottom: none;

    
  }

  &:last-child {
    a {
      margin-right: 0;
    }
  }
}