@import '../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: max-content;
  width: 100vw;
  padding: 10vh 0;
  overflow-x: hidden;

  section {
    display: flex;
    justify-content: space-between;
    column-gap: 4em;
    row-gap: 1em;
    padding: 0 8em;
    align-items: flex-end;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      padding: 0 2em;
    }

    .location {
      color: $light-text-subtle;
      @include dark {
        color: $dark-text-subtle;
      }
      display: block;
      margin-top: 0.3em;
    }

    .bio {
      margin-bottom: 0.5em;
      white-space: nowrap;
    }

    .switch {
      position: relative;
      cursor: pointer;
      height: 10vh;
      min-height: 4em;
      max-height: 6em;
      aspect-ratio: 0.64;

      @media (max-width: 768px) {
        height: 8vh;
      }

      img {
        object-fit: contain;
        overflow-x: hidden;
        user-select: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
      }
    }
  }

  .tiptap {
    position: relative;
    width: 100%;
    aspect-ratio: 2;
    height: 500px;
    margin-bottom: 4em;
    min-height: 300px;

    img {
      object-fit: contain;
      object-position: top;
      overflow-x: hidden;
      user-select: none;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }

    @media (max-width: 768px) {
      height: 300px;
      margin-bottom: 2em;

      img {
        object-fit: cover;
        object-position: center;
      }
    }



  }

  .footer {
    flex-wrap: wrap-reverse;
  }
}

.nav {
  a {
    margin-right: 0.7em;

    &:last-child {
      margin-right: 0;
    }
  }
}
