.container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 800px;
  width: 100vw;
  padding: 10vh 0;
  overflow-x: hidden;

  section {
    padding: 0 8em;

    @media (max-width: 768px) {
      padding: 0 2em;
    }

    .location {
      color: lighten(#000, 60%);
      display: block;
      margin-top: 0.3em;
    }
  }

  .tiptap {
    position: relative;
    width: 100%;
    aspect-ratio: 1.46;
    min-height: 300px;
    margin-bottom: 4em;

    @media (max-width: 768px) {
      margin-bottom: 2em;
    }

    img {
      object-fit: cover;
      object-position: top;
      overflow-x: hidden;
      user-select: none;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }

  }

  .footer {
    display: flex;
    justify-content: space-between;
    column-gap: 4em;
    row-gap: 1em;
    flex-wrap: wrap-reverse;
  }
}

.nav {
  a {
    margin-right: 0.7em;

    &:last-child {
      margin-right: 0;
    }
  }
}
