@import '../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  max-width:800px;
  padding: 25px;
  overflow-x: hidden;
  gap: 20px;

  li {
    display: flex;
    gap: 0.6em;
  }
}

.nav {
  a {
    margin-right: 0.7em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.List {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
