.Project {
  display: flex;
  flex-direction: column;

  margin: 0.5em;

  .image {
    width: 200px;
    height: 200px;
    position:relative;

    img {
      border-radius: 4px;
    }
  }

  b {
    font-weight: 500;
  }
}