.Sidebar {
  width: 25vw;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .upper_content {
    display: flex;
    flex-direction: column; 
  }

  b {
    font-weight: 500;
  }

  .location {
    color: lighten(#000, 50%);
    display: block;
    margin-top: 0.3em;
  }

  a {
    text-decoration: underline;
    margin-right: 0.5em;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-right: 0;
  }
}