.Sidebar {
  // background-color: lightblue;
  width: 300px;
  flex-shrink:0;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  // .upper_content {
  //   display: flex;
  //   flex-direction: column; 
  // }

  .location {
    display: block;
    margin-top: 0.4em;
    margin-bottom: 0.8em;

    @include smallcaps;
  }

  .copyright {
    @include smallcaps;
  }

  a {
    margin-right: 0.5em;
  }

  @media (max-width: 768px) {
    width: 100vw;
    margin-right: 0;
  }
}