$terminal-lightmode-background: #F1F2F4;
// $terminal-lightmode-text: #1E1E26;
$terminal-lightmode-text: #000;

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin smallcaps {
  font-weight: 400;
  text-transform: uppercase;
  color: #666;
}