$dark-bg: #171718;
$light-bg: #ffffff;
$dark-text: #e2e2e2;
$light-text: #121d1b;
$dark-text-subtle: #4c555a;
$light-text-subtle: #d4d4d4;

@mixin dark {
  &[data-theme="dark"] {
    @content;
  }
  [data-theme="dark"] & {
    @content;
  }
}

@mixin light {
  &[data-theme="light"] {
    @content;
  }
  [data-theme="light"] & {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin img {
  overflow-x: hidden;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
